@model WebApplication2.Models.BlogDetailsViewModel

@{
    ViewData["Title"] = "Blogs";

}
<head>
    <link rel="stylesheet" href="~/css/example.css" />
</head>
<body>

    <div class="Example">
        <h3> This is an example project for multiple model passing to a view </h3>
        <h3> Additionally we have newly designed  navbar </h3>
    </div>

</body>