@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <div class="mainlink">
        <h1>Welcome to my first ASP.NET project</h1>
        <a href="https://www.linkedin.com/in/atakantekbas/">LinkedIN</a>
    </div>
</body>
